@mixin image-variables($position, $width: 20px, $height: 20px) {
   position: $position;
   width: $width;
   height: $height;
}
@mixin display-variables($display, $direction, $justify-content, $align-items) {
   display: $display;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}

.header {
   @include display-variables(flex, row, space-between, center);
   padding: 1rem;
   position: relative;
   background-color: $White;
   z-index: 10;

   .header__logo {
      .header__logo-image {
         @include image-variables(relative, 139px, 20px);
      }
   }

   .header__navigation {
      .navigation__close-icon {
         @include image-variables(relative, 18px, 19px);
         right: -5rem;
      }
      .navigation__list {
         @include display-variables(flex, column, space-around, center);
         background-color: $White;
         position: absolute;
         top: 4rem;
         width: 90%;
         height: 300px;
         left: 1rem;
         color: $Grayish-Blue;
         font-weight: $weight-bold;
         border-radius: 3px;
         filter: drop-shadow(3rem 10rem 10rem $Dark-Blue);
      }
   }

   .header__right {
      .header__menu-icon {
         @include image-variables(relative, 24px, 11px);
      }
      .header__right-btn {
         display: none;
      }
   }
}

/* FOOTER SECTION */

.footer {
   @include display-variables(flex, column, center, center);
   gap: 2rem;
   background-color: $Dark-Blue;

   .footer__logo {
      @include display-variables(flex, column, center, center);
      .footer__logo-image {
         @include image-variables(relative, 139px, 20px);
         margin: 1.5rem 0;
         //NOTE this filter need to be apply correctly
         filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(210%) contrast(101%);
      }
   }

   .footer__icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      .footer__icon {
         @include image-variables(relative, 24px, 24px);
      }
   }

   .footer__navigation {
      .footer__nav-list {
         @include display-variables(flex, column, center, center);
         gap: 0.8rem;
         color: $Grayish-Blue;
      }
   }

   .footer__request {
      @include display-variables(flex, column, center, center);
      gap: 0.8rem;
      .footer__request-btn {
         background: $background-btn-gradient;
         border: none;
         border-radius: 2rem;
         padding: 0.8rem 2rem;
         color: $White;
         font-size: 0.9rem;
      }

      .footer__reserve-text {
         color: $Grayish-Blue;
         font-size: 0.9rem;
      }
   }

   .footer__attribution {
      font-size: 0.65rem;
      color: $Grayish-Blue;
      margin: -2rem 0 6rem;
      .footer__link {
         font-weight: $weight-bold;
         margin-left: 0.2rem;
      }
   }
}
