@mixin image-variables($position, $width: 20px, $height: 20px) {
   position: $position;
   width: $width;
   height: $height;
}
@mixin display-variables($display, $direction, $justify-content, $align-items) {
   display: $display;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin button-style {
   background: $background-btn-gradient;
   border: none;
   border-radius: 2rem;
   padding: 0.8rem 2rem;
   color: $White;
   font-size: 0.9rem;
}

.header {
   @include display-variables(flex, row, space-between, center);
   padding: 1rem;
   position: relative;
   background-color: $White;
   z-index: 10;

   @include large-screen {
      justify-content: space-around;
   }

   .header__logo {
      .header__logo-image {
         @include image-variables(relative, 139px, 20px);
      }
   }

   .header__navigation {
      @include medium-screen {
         display: block !important;
      }
      .navigation__close-icon {
         @include image-variables(relative, 18px, 19px);
         right: -5rem;

         @include medium-screen {
            display: none;
         }
      }
      .navigation__list {
         @include display-variables(flex, column, space-around, center);
         background-color: $White;
         position: absolute;
         top: 4rem;
         width: 90%;
         height: 300px;
         left: 1rem;
         color: $Grayish-Blue;
         font-weight: $weight-bold;
         border-radius: 3px;
         filter: drop-shadow(3rem 10rem 10rem $Dark-Blue);

         @include medium-screen {
            position: static;
            flex-direction: row;
            height: 0;
            gap: 0.5rem;
            font-weight: $weight-light;
            font-size: 1rem;
         }

         @include large-screen {
            gap: 1rem;
         }
      }
   }

   .header__right {
      .header__menu-icon {
         @include image-variables(relative, 24px, 11px);

         @include medium-screen {
            display: none !important;
         }
      }
      .header__right-btn {
         display: none;

         @include medium-screen {
            display: block;
            @include button-style;
            padding: 0.5rem 1.2rem;
         }
      }
   }
}

/* FOOTER SECTION */

.footer {
   @include display-variables(flex, column, center, center);
   gap: 2rem;
   background-color: $Dark-Blue;

   @include medium-screen {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      padding: 0 0.5rem;
      height: 230px;
   }

   @include large-screen {
      justify-content: space-around;
      padding: 0;
   }

   .footer__logo {
      @include display-variables(flex, column, center, center);
      gap: 1.5rem;
      margin-top: 1.5rem;

      @include medium-screen {
         margin: 0;
         gap: 3rem;
      }
      .footer__logo-image {
         @include image-variables(relative, 139px, 20px);
         //NOTE this filter need to be apply correctly
         filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(210%) contrast(101%);
      }
   }

   .footer__icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      .footer__icon {
         @include image-variables(relative, 24px, 24px);

         @include medium-screen {
            width: 20px;
            height: 20px;
         }
      }
   }

   .footer__navigation {
      .footer__nav-list {
         @include display-variables(flex, column, center, center);
         gap: 0.8rem;
         color: $Grayish-Blue;

         @include medium-screen {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-size: 0.9rem;
         }

         @include large-screen {
            width: 300px;
         }
      }
   }

   .footer__request {
      @include display-variables(flex, column, center, center);
      gap: 0.8rem;

      @include medium-screen {
         align-items: flex-start;
         width: 240px;
      }
      @include large-screen {
         align-items: flex-end;
         width: auto;
      }

      .footer__request-btn {
         @include button-style;

         @include medium-screen {
            padding: 0.6rem 1.7rem;
         }
      }

      .footer__reserve-text {
         color: $Grayish-Blue;
         font-size: 0.9rem;
      }

      .footer__attribution {
         font-size: 0.65rem;
         color: $Grayish-Blue;
         margin: -1rem 0 5rem;

         @include medium-screen {
            margin: -1rem 0 0;
         }
         .footer__link {
            font-weight: $weight-bold;
            margin-left: 0.2rem;
         }
      }
   }
}
