@mixin title-font {
   font-weight: $weight-regular;
   color: hsl(233, 26%, 24%, 0.8);
}
@mixin description-font($size) {
   color: $Grayish-Blue;
   font-size: $size;
   line-height: 1.4rem;
}

.main {
   overflow: hidden;
   .main__intro {
      position: relative;

      @include medium-screen {
         display: flex;
         flex-direction: row-reverse;
         height: 500px;
      }
      .main__image-wrapper {
         @include medium-screen {
            flex: 1.5;
         }
         .intro__mobile-img {
            position: relative;
            width: 100%;
            height: 475px;
            top: -4.5rem;

            @include medium-screen {
               display: none;
            }
         }

         .intro__desktop-img {
            display: none;

            @include medium-screen {
               display: block;
               position: relative;
               width: 100%;
               height: 550px;
               top: -8rem;
               right: -5rem;
            }

            @include large-screen {
               height: 600px;
               right: -15rem;
            }
         }

         .intro__mockup-img {
            position: relative;
            width: 100%;
            height: 475px;
            top: -34.5rem;

            @include medium-screen {
               position: relative;
               width: 90%;
               height: 500px;
               top: -34rem;
               right: -7rem;
            }
            @include large-screen {
               width: 70%;
               height: 650px;
               top: -40rem;
               right: -23rem;
            }
         }
      }

      .intro__content {
         margin-top: -34rem;
         text-align: center;

         @include medium-screen {
            margin: 0;
            padding-top: 1rem;
            text-align: left;
            width: 300px;
            position: relative;
            left: 1rem;
         }

         @include large-screen {
            left: 7rem;
         }

         .content__title {
            font-size: 2.3rem;
            font-weight: $weight-light;
            color: $Dark-Blue;
            margin-bottom: 0;

            @include medium-screen {
               font-size: 1.7rem;
            }
         }
         .content__description {
            @include description-font(0.9rem);
            margin-bottom: 2rem;
            padding: 0 1rem;

            @include medium-screen {
               padding: 0;
               margin-bottom: 1rem;
            }

            @include large-screen {
               width: 400px;
            }
         }
         .content__invite-btn {
            background: $background-btn-gradient;
            border: none;
            border-radius: 2rem;
            padding: 0.8rem 2rem;
            color: $White;
            font-size: 0.9rem;
         }
      }
   }

   .main__features {
      text-align: center;
      background-color: $Light-Grayish-Blue;
      margin: 4rem 0;

      @include medium-screen {
         text-align: left;
         margin-top: -9rem;
         padding: 0 1rem;
      }
      @include large-screen {
         margin-top: -6.5rem;
         padding: 0 7rem;
      }

      .features__header {
         .features__header-title {
            padding-top: 4rem;
            font-size: 2rem;
            @include title-font;

            @include medium-screen {
               font-size: 1.5rem;
            }
         }
         .features__header-desc {
            @include description-font(0.9rem);
            padding: 0 1rem;

            @include medium-screen {
               padding: 0;
               width: 500px;
            }

            @include large-screen {
               width: 570px;
            }
         }
      }

      .features__strategies {
         padding-bottom: 4rem;

         @include medium-screen {
            display: flex;
            gap: 1rem;
         }

         @include large-screen {
            gap: 1.5rem;
         }

         .strategies-img {
            position: relative;
            width: 80px;
            height: 80px;
            margin-top: 2rem;
            left: 50%;
            transform: translateX(-50%);

            @include medium-screen {
               width: 60px;
               height: 60px;
               margin-top: 1rem;
               left: 1.5rem;
            }
         }
         .strategies__title {
            @include title-font;

            @include medium-screen {
               font-size: 1rem;
            }
         }
         .strategies__desc {
            @include description-font(0.9rem);
            margin: 0 0.8rem;

            @include medium-screen {
               margin: 0;
            }
         }
      }
   }

   .main__articles {
      @include large-screen {
         padding: 0 6rem;
      }
      .articles__header {
         .articles__header-title {
            font-size: 2rem;
            @include title-font;
            text-align: center;

            @include medium-screen {
               text-align: left;
               padding-left: 1rem;
               font-size: 1.5rem;
            }
         }
      }

      .articles__post {
         padding: 0 1rem;
         margin-bottom: 4rem;

         @include medium-screen {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
         }

         @include large-screen {
            flex-wrap: nowrap;
         }

         .post__content {
            margin-bottom: 1.2rem;
            border-radius: 5px;
            box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem $Light-Grayish-Blue;

            @include medium-screen {
               width: 48%;
            }

            .post__img {
               position: relative;
               width: 100%;
               height: 200px;
               border-radius: 5px 5px 0 0;
               overflow: hidden;

               @include medium-screen {
                  height: 150px;
               }
            }
            .post__createdby {
               padding: 0 1rem;
               color: $Grayish-Blue;
               font-size: 0.7rem;
               margin-bottom: 0.5rem;
            }
            .post__title {
               @include title-font;
               font-size: 1rem;
               padding: 0 1rem;
               margin: 0;
            }
            .post__desc {
               @include description-font(0.8rem);
               padding: 0 1rem 2rem;
               margin-top: 0.5rem;

               @include medium-screen {
                  padding-bottom: 0.3rem;
               }
            }
         }
      }
   }
}
